<div class="pirate">
  <h2>Name: <%= @pirate.name %></h2>
  <h2>Weight: <%= @pirate.weight %></h2>
  <h2>Height: <%= @pirate.height %></h2>
</div><br>

<div class="ship">
  <h2>First Ship Name: <%= @ships[0].name %></h2>
  <h2>First Ship Type: <%= @ships[0].type %></h2>
  <h2>First Ship Booty: <%= @ships[0].booty %></h2>
</div>

<div class="ship">
<<<<<<< HEAD
  <h2>Second Ship Name: <%= @ships[1].name %></h2>
  <h2>Second Ship Type: <%= @ships[1].type %></h2>
  <h2>Second Ship Booty: <%= @ships[1].booty %></h2>
=======
  <h2>First Ship Name: <%= @ships[1].name %></h2>
  <h2>First Ship Type: <%= @ships[1].type %></h2>
  <h2>First Ship Booty: <%= @ships[1].booty %></h2>
>>>>>>> 949241162f36aafeefa9fe47ef7d0448ab92acee
</div>



